@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #303841;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000);
  font-family: "Ubuntu", sans-serif;
  color: #d3d6db;
}

h1 {
  font-family: "Kavoon", sans-serif;
}

nav {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    height: 50px;
  }

  li:first-child {
    margin-right: auto;
  }

  a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #d3d6db;
  }

  .link:hover {
    background-color: #303841;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #3a4750a6;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  li {
    width: 100%;
  }

  a {
    width: 100%;
  }

  .link:hover {
    background-color: #262c33;
  }
}

.menu-button {
  display: none;
}

.top {
  height: 94vh;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    h1 {
      font-size: 40px;
    }
  }

  .paragaph {
    margin: 25px 10vw;
    text-align: center;
  }

  button {
    padding: 25px 50px;
    margin: 25vh auto;
    border: none;
    color: #d3d6db;
    background-color: #be3144;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: #982736;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  section {
    text-align: center;
  }
}

.horizontal-line {
  border-bottom: 2px solid black;
  margin: 10px 15px 0;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;

  .card {
    width: 325px;
    background-color: #d3d6db;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;

    img {
      width: 100%;
      height: auto;
    }

    .first-img {
      height: 217px;
    }

    .card-content {
      color: #303841;

      p {
        margin: 20px auto;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  section {
    margin-top: 20px;
  }

  h2 {
    font-size: 30px;
  }

  input {
    padding: 10px 15px;
    margin-right: 10px;
  }

  button {
    padding: 12px 17px;
    background-color: #be3144;
    border: none;
    color: #d3d6db;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  button:hover {
    background-color: #982736;
  }
}

.gifs {
  width: 100%;
}

#gifContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1100px;
  margin: 40px auto 0;
}

@media (max-width: 1100px) {
  #gifContainer {
    grid-template-columns: repeat(3, 1fr);
    max-width: 675px;
  }
}

@media (max-width: 850px) {
  #gifContainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  #gifContainer {
    grid-template-columns: 1fr;
    max-width: 225px;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
