@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #303841;
  background: linear-gradient(to top, #434343, #000000);
  font-family: "Ubuntu", sans-serif;
  color: #d3d6db;
}

h1 {
  font-family: "Kavoon", sans-serif;
}

nav {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #d3d6db;
}
nav .link:hover {
  background-color: #303841;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(58, 71, 80, 0.6509803922);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.sidebar .link:hover {
  background-color: #262c33;
}

.menu-button {
  display: none;
}

.top {
  height: 94vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.top .words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.top .words h1 {
  font-size: 40px;
  text-align: center;
}
.top .paragaph {
  margin: 65px 10vw;
  text-align: center;
}
.top button {
  padding: 1em 2em;
  margin: 25vh auto;
  border: none;
  border-radius: 1000px;
  color: #d3d6db;
  background-color: #161a20;
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top button::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 105%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #be3144, #e100ff);
  z-index: -1;
}
.top button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #be3144, -40px 0 100px rgba(225, 0, 255, 0.7333333333);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about h2 {
  font-size: 30px;
  margin-top: 20px;
}
.about section {
  text-align: center;
}

.horizontal-line {
  border-bottom: 2px solid white;
  margin: 10px 35px 0;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card-container .card {
  width: 325px;
  background-color: #d3d6db;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-container .card img {
  width: 100%;
  height: auto;
}
.card-container .card .first-img {
  height: 217px;
}
.card-container .card .card-content {
  color: #303841;
}
.card-container .card .card-content p {
  margin: 20px auto;
  font-weight: bold;
  font-size: 18px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.search section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search h2 {
  font-size: 30px;
  text-align: center;
}
.search input {
  padding: 10px 15px;
  margin: 10px;
}
.search button {
  padding: 1em 2em;
  background-color: #161a20;
  border: none;
  border-radius: 1000px;
  color: #d3d6db;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search button::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 105%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #be3144, #e100ff);
  z-index: -1;
}
.search button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #be3144, -40px 0 100px rgba(225, 0, 255, 0.7333333333);
}

.search-controls {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.gifs {
  width: 100%;
}

#gifContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1100px;
  margin: 40px auto 10px;
}

@media (max-width: 1100px) {
  #gifContainer {
    grid-template-columns: repeat(3, 1fr);
    max-width: 675px;
  }
}
@media (max-width: 850px) {
  #gifContainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  #gifContainer {
    grid-template-columns: 1fr;
    max-width: 225px;
  }
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-width: 343px) {
  .search-controls input {
    padding: 2px 7px;
    margin: 0;
  }
  .search-controls button {
    padding: 0.75em 1.5em;
  }
}/*# sourceMappingURL=style.css.map */